<mat-sidenav-container>
  <h3>Theming</h3>
  <button mat-raised-button (click)="toggleTheme()">Theme</button>


  <button mat-flat-button>Basic</button>
  <button mat-flat-button color="primary">Primary</button>
  <button mat-flat-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-flat-button disabled>Disabled</button>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      </mat-expansion-panel-header>

    </mat-expansion-panel>

  </mat-accordion>
</mat-sidenav-container>
<router-outlet></router-outlet>