@use '@angular/material' as mat;

@include mat.core();

// Define a custom dark palette
$my-dark-primary: mat.define-palette(mat.$purple-palette, 200, 100, 300);
$my-dark-accent: mat.define-palette(mat.$orange-palette, 400, 200, 600);

// Define a dark theme with the custom palette
$dark-theme: mat.define-dark-theme((
  color: (
    primary: $my-dark-primary,
    accent: $my-dark-accent,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Define a light theme
$light-theme: mat.define-light-theme((
  color: (
    primary: mat.define-palette(mat.$indigo-palette),
    accent: mat.define-palette(mat.$pink-palette),
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

// Apply the themes using CSS classes
.dark-theme {
  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);

  // Additional styles for the dark theme
  h3 {
    color: red; // Set h3 color to red
    font-style: italic; // Make h3 italic
  }
}

.light-theme {
  @include mat.core-theme($light-theme);
  @include mat.all-component-themes($light-theme);

  // You can also add styles for the light theme if needed
}
