@import "themes/my-theme.scss";

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: background-color 0.3s, color 0.3s; // Optional smooth transition
}

.mat-drawer-content {
    height: 100vh !important;
}